h2{
    color: #F05981;
    padding: 8px;
    margin-top: 0;
    border-bottom: 1px solid #3f51b591;
    box-shadow: 2px 4px 2.5px #3f51b591;
    background-color: rgba(245, 245, 245, 0.678);
}

.mat-h2, .mat-title, .mat-typography h2 {
    margin: 0;
}

/* Removendo o padding da toolbar*/
.mat-list-base{
    padding: 0;
}